
.topDiv {
    background-image: url("images/unsplash9.png");
    background-position: center;
    background-size: cover;
    color: #fff;
    padding-top: 55px;
    padding-bottom: 88px;
    padding-left: 45px;
}
.heading1 {
    margin-bottom: 19px;
}
.para1 {
    margin-bottom: 18px;
}
.dropdownMenu {
    display: flex;
    position: relative;
    bottom: 25px;
    justify-content: center;
    gap: 25px;
    background-color: #B2C7DD4D;
    width: 82%;
    margin-left: 109px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 4px;
}
.flexDiv2 {
    display: flex;
    gap: 95px;
    justify-content: center;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 34px;
}
.flexDiv3 {
    display: flex;
    gap: 160px;
    padding-left: 59px;
    padding-right: 59px;
    padding-bottom: 60px;
    margin-top: 1.2rem;
    text-align: justify;
}
.flex3Item1 {
    flex: 1;
    box-sizing: border-box;
    max-width: 328px;

}
.flex3Item2 {
    flex: 2;
    box-sizing: border-box;
    max-width: 657px;
}
.flexDiv4 {
    display: flex;
    gap: 53px;
    justify-content: center;
    margin-bottom: 41px;
}
.flexDiv5 {
    display: flex;
    gap: 62px;
    justify-content: center;
    text-align: center;
    background-color:#B2C7DD4D;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-bottom: 59px;
}
.imgDiv {
    width: 316px;
    height: 281px;
    border-right-width: 10px;
    border-right-style: double;
    border-bottom-width: 10px;
    border-bottom-style: double;
    border-bottom-color: #4983C2;
    border-right-color: #4983C2;
    border-radius: 4px;
}
.container10 {
    text-align: center;
    margin-bottom: 25px;
}
.h3color {
    color: #4983C2;
}
.carousel {
    margin-top: 40px;
    background-color: #B2C7DD4D;
    padding: 50px;
}
.carouselItem {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 900px) {
    .flexDiv4 {
        flex-wrap: wrap;
        justify-content: center;
    }
    .flexDiv2 {
        flex-wrap: wrap;
        justify-content: center;
        gap: 80px;
        margin-bottom: 40px;
    }
    .firstImage {
        max-width: 363px;
    }
    .flexDiv3 {
        flex-direction: column;
        gap: 50px;
    }
    .flex3Item1 {
        flex: 3;
    }
    .flex3Item2 {
        flex: 3;
    }

}
@media (max-width: 800px){
    .dropdownMenu {
        width: 95%;
        margin-left: 24.5px;
    }
}
@media (max-width: 600px){
    .dropdownMenu {
        width: 98%;
        margin-left: 0px;
        justify-content: center;
        gap: 20px;
        
    }
    .flexDiv5 {
        justify-content: start;
        gap: 25px;
        font-size: 1.5rem !important;
    }
}
@media (max-width: 470px) {
    .dropdownMenu {
        gap: 9px;
        justify-content: start !important;
        padding-left: 7px;
        width: 100%;
    }
}

